<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.CustomerDao">
    <select id="getChatList" resultType="com.alibaba.fastjson.JSONObject">
        select messageId,messageContent,phone,messageTime,email,messageStatus from message
        where messageStatus = #{status}
        order by messageTime desc
    </select>
    <insert id="addMessage">
        insert into message(messageContent,phone, email, messageStatus)
        values(#{content},#{phone},#{email},0)
    </insert>
    <update id="updateMessage">
        update message set messageStatus = 1 where messageId = #{messageId}
    </update>
</mapper>
